<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Liga de Futbol de San Martin de los Andes</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <style>
body {
  font-family: "helvetica", sans-serif;
  text-align: center;
          padding: 0px;

}
.table-center th {
    background-color: #326295;
    font-weight: bold;
    color: #fff;
    text-align: center;
   }

    </style>
     {% block extra_style %}
      {% endblock %}
  </head>



  <body>
  {% block navbar %}
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
  {% endblock navbar %}


  {% block content %}

    {% endblock content %}
  </body>
</html>
{% endautoescape %}


