{% extends "layout.html" %}

{% block navbar %}
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Tabla</a></li>
  <li role="presentation"><a href="resultados">Ver Resultados</a></li>
  <li role="presentation"><a href="admininstrador">Cargar Resultados</a></li>
</ul>
{% endblock %}

{% block content %}

  <h1 class="page-header" style="margin:20px 0 20px">Tabla de Posiciones</h1>

<div class="container" style="padding-bottom: 1em;">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" id="rank-selector" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ division }} <span class="caret"></span></button>
                      <ul class="dropdown-menu" aria-labelledby="rank-selector">
                        {% for div in divisiones %}
                        <li><a href="?division={{div}}">{{div.capitalize()}}</a></li>
                        {% endfor %}
                      </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table table-center table-striped table-hover">
            <thead>
                <tr>
                    {% for head in rank_head %}
                    <th>{{ head }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% if rank is not none %}
            {% for row in rank %}
                <tr>
                    {% for val in row %}
                    <td>{{val}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            {% endif %}
            </tbody>
         </table>


    </div>
{% endblock %}